<a href="https://colab.research.google.com/github/Sakshi1007/MLnow_2.0/blob/main/DTC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [116]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [117]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [118]:
cd"/content/drive/MyDrive/ColabNotebooks/MLnow2()/Iris Data"

/content/drive/MyDrive/ColabNotebooks/MLnow2()/Iris Data

In [119]:
df=pd.read_csv("Iris.csv")

In [120]:
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [121]:
df.shape

(150, 6)

In [122]:
df.tail(20)

      Id  SepalLengthCm  ...  PetalWidthCm         Species
130  131            7.4  ...           1.9  Iris-virginica
131  132            7.9  ...           2.0  Iris-virginica
132  133            6.4  ...           2.2  Iris-virginica
133  134            6.3  ...           1.5  Iris-virginica
134  135            6.1  ...           1.4  Iris-virginica
135  136            7.7  ...           2.3  Iris-virginica
136  137            6.3  ...           2.4  Iris-virginica
137  138            6.4  ...           1.8  Iris-virginica
138  139            6.0  ...           1.8  Iris-virginica
139  140            6.9  ...           2.1  Iris-virginica
140  141            6.7  ...           2.4  Iris-virginica
141  142            6.9  ...           2.3  Iris-virginica
142  143            5.8  ...           1.9  Iris-virginica
143  144            6.8  ...           2.3  Iris-virginica
144  145            6.7  ...           2.5  Iris-virginica
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[20 rows x 6 columns]

In [123]:
x=df.iloc[:,0:-1]
y=df.iloc[:,-1]

In [124]:
print(x)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

In [125]:
print(y)

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [126]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=30)

In [127]:
print(y_test)

20         Iris-setosa
5          Iris-setosa
3          Iris-setosa
101     Iris-virginica
82     Iris-versicolor
80     Iris-versicolor
123     Iris-virginica
145     Iris-virginica
74     Iris-versicolor
107     Iris-virginica
38         Iris-setosa
103     Iris-virginica
93     Iris-versicolor
99     Iris-versicolor
8          Iris-setosa
97     Iris-versicolor
32         Iris-setosa
1          Iris-setosa
24         Iris-setosa
72     Iris-versicolor
133     Iris-virginica
42         Iris-setosa
0          Iris-setosa
35         Iris-setosa
105     Iris-virginica
132     Iris-virginica
70     Iris-versicolor
136     Iris-virginica
2          Iris-setosa
87     Iris-versicolor
139     Iris-virginica
81     Iris-versicolor
112     Iris-virginica
127     Iris-virginica
118     Iris-virginica
141     Iris-virginica
98     Iris-versicolor
137     Iris-virginica
71     Iris-versicolor
129     Iris-virginica
143     Iris-virginica
128     Iris-virginica
14         Iris-setosa
68     Iris-versicolor
111     Iris-virginica
59     Iris-versicolor
94     Iris-versicolor
73     Iris-versicolor
89     Iris-versicolor
88     Iris-versicolor
6          Iris-setosa
67     Iris-versicolor
144     Iris-virginica
92     Iris-versicolor
21         Iris-setosa
83     Iris-versicolor
12         Iris-setosa
66     Iris-versicolor
85     Iris-versicolor
63     Iris-versicolor
Name: Species, dtype: object

In [128]:
clsf=DecisionTreeClassifier()
clsf=clsf.fit(X_train,y_train)

In [129]:
y_pred=clsf.predict(X_test)

In [130]:
accuracy=metrics.accuracy_score(y_test,y_pred)
print(accuracy*100)

98.33333333333333